<script src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="{{ 'assets/js/jquery-rss.min.js' | relative_url }}"></script>

<script>
    jQuery(function($) {
        /* for news page */
        $("#rss-styled").rss("https://www.ceda.ac.uk/blog/tag/jasmin/feeds/rss/", {
            limit: 5,
            layoutTemplate: "<div class=\"\">{entries}</div>",
            entryTemplate: "<div class=\"card mb-3\"><div class=\"card-header\"><div class=\"row\"><div class=\"col-8 text-left\"><h5 class=\"card-title\">{title}</h5></div><div class=\"col-4 text-right\"><h6 class=\"card-subtitle mb-2 text-muted\">{date}</h6></div></div></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-8 text-left\"><p>{shortBodyPlain}</p><a href=\"{url}\" parent=\"_blank\" class=\"btn btn-success btn-sm\">read more</a></div><div class=\"col-4 text-right\"></div></div></div></div>",
            dateFormat: "ddd, Do MMMM, YYYY"
        }).show();
        /* for ticker */
        $("#wrapper").rss("https://www.ceda.ac.uk/blog/tag/jasmin/feeds/rss/", {
            limit: 1,
            layoutTemplate: '<ul id="ticker">{entries}</ul>',
            entryTemplate: '<li><a href="{url}" target="_blank">{title}</a>&nbsp;<small>{date}</small></li>',
            dateFormat: "ddd, Do MMMM, YYYY"
        }).show();
    })
</script>
{% comment %}
Disabled until we solve how to use tickerme with <ul><li> items inserted into #wrapper by above
<!-- News ticker -->
<script type="text/javascript" src="{{ assets/js/tickerme.js | relative_url }}"></script>
<script type="text/javascript" >
        $('#ticker').tickerme({
            fade_speed: 900, //The speed each story will fade in and out (milliseconds).
            duration: 3000, //The length of time a story is on the screen (milliseconds).
            auto_stop: false, //If true, the ticker will automatically stop when the previous or next button is clicked.
            control_colour: '#6683B7', //The colour of the play, pause, previous and next controls.
            control_rollover: '#FFFFFF' //The colour of the control buttons on rollover.
        });
</script>
{% endcomment %}

