<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta charset="UTF-8">


    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <!-- Bootstrap Core
    CSS -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_vendor/bootstrap/dist/css/bootstrap.css" media="screen">
    <!-- Custom CSS -->
    <!-- customisations of vanilla bootstrap by the bootswatch variant we're using (output from Bootswatch) -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_assets/css/custom.min.css">
    <!-- customisations of the above, to separate own customisations from Bootswatch's -->
    <!-- <link rel="stylesheet" href="/assets/css/fw-custom.css"> -->

    <!-- organisation customisations go here (blank in this case, over-ridden by each fwtheme-django-ORG theme) -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_assets/css/org-custom.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>

  <body>
    <div id="root">    
    
      <!-- navbar --> 
      <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <!-- navbar branding -->
            <a href="http://www.ceda.ac.uk/" class="navbar-brand">
                <img src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_div/0.3.2/_assets/img/ceda_logo_transp_black_1.png" height="80" alt="CEDA logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
      </div>

      <!-- main content container -->
      <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                {{ content }}
            </div>
        </div>
      </div>

      <!-- footer with 4 logos -->
      <footer>
        <div class="container">
          <div class="row d-flex justify-content-around">
            <div class="col col-md-4 text-center ">
                <a href="http://www.ncas.ac.uk" title="NCAS"><img src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_div/0.3.2/_assets/img/ncas_logo_transparent_blacktext.png" title="NCAS logo" alt="NCAS logo" ></a>
            </div>
            <div class="col-md-4">
                <p class="text-center small">
                    <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                    <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                    <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and Cookies</a><br/>
                </p>
            </div>
            <div class="col col-md-4 text-center">
                <a href="http://www.nceo.ac.uk" title="STFC"><img src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_div/0.3.2/_assets/img/nceologo200.png" title="NCEO logo" alt="NCEO logo"></a>
            </div>
          </div>
          <div class="row d-flex justify-content-around">
            <div class="row d-flex justify-content-around">
                <div class="col col-md-12 text-center ">
                  <a href="http://www.stfc.ac.uk" title="STFC"><img src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_div/0.3.2/_assets/img/UKRI_STF_Council-Logo_Horiz-RGB_h80.png" title="STFC UKRI logo" alt="STFC UKRI logo" height="80" ></a>
                  <a href="http://www.nerc.ac.uk" title="NERC"><img src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_div/0.3.2/_assets/img/UKRI_NER_Council-Logo_Horiz-RGB_h80.png" title="NERC logo" alt="NERC logo"  height="80" ></a>
              </div>
          </div>
        </div>
      </footer>
      


      <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_vendor/jquery/dist/jquery.min.js"></script>
      <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_vendor/popper.js/dist/umd/popper.min.js"></script>
      <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.2/_assets/js/custom.js"></script>
    </div><!-- #root -->
  </body>
</html>