---
layout: base_ceda
---

<head>

  <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/bio.css' | relative_url }}">
  {% if page.use_math %}
  {% include _mathjax_support.html %}
  {% endif %}
</head>

<body>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.url }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title | default: site.title | default: site.github.repository_name }}</li>
    </ol>
  </nav>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p class="project-tagline">Written by: {{ page.author }}</p>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    {% include author.html %}
    <footer class="site-footer">
      {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
    </footer>
  </main>

</body>

