---
layout: base_jasmin
---

<head>
    <script src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/jquery-rss.min.js"></script>

    <script>
      jQuery(function($) {
            $("#rss-styled").rss("https://www.ceda.ac.uk/blog/tag/jasmin/feeds/rss/", {
                limit: 5,
                layoutTemplate: "<div class=\"\">{entries}</div>",
                entryTemplate: "<div class=\"card mb-3\"><div class=\"card-header\"><div class=\"row\"><div class=\"col-8 text-left\"><h5 class=\"card-title\">{title}</h5></div><div class=\"col-4 text-right\"><h6 class=\"card-subtitle mb-2 text-muted\">{date}</h6></div></div></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-8 text-left\"><p>{shortBodyPlain}</p><a href=\"{url}\" parent=\"_blank\" class=\"btn btn-success btn-sm\">read more</a></div><div class=\"col-4 text-right\"></div></div></div></div>"
            }).show();
        })
    </script>

</head>

<body>

<!-- {% include breadcrumb.html %} -->

<main id="content" class="main-content" role="main">

    {{ content }}

    <div>
      <div id="rss-styled"></div>
    </div>

</main>

<script>
</script>

</body>

