---
layout: base_jasmin
---

<head>
</head>

<!-- {% include breadcrumb.html %} -->

<div class="hero-bg mb-5" style="background-image:url( {{ page.header_background_image | relative_url }} );">
    <div class="hero-fg">
      <div class="container">
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      </div>
    </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-md-12">
            {{ content }}

            <div class="block-html"><hr></div>


            
            {% if page.boxes %}

                    {% assign sorted = page.boxes | sort: "order" | reverse %}
                    {% for box in sorted %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{box.leader}}</h4>
                            <p class="card-text">{{box.text}}</p>
                            <a href="{{box.url}}" class="btn btn-success">Learn more</a>
                        </div>
                    </div>
                    {% endfor %}

            {% endif %}
          </div>
      </div>
    </div>

